.news {
  background: #ff3; }

#block-login {
  border: 1px solid #000; }

body {
  /* mobile styles */
  background: #fff; }
  @media screen and (min-width: 768px) {
    body {
      background: #dd3333; } }
  @media screen and (min-width: 1024px) {
    body {
      background: #33dd33; } }

@media screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    color: #fff; } }

@media screen and (max-width: 768px) and (min-width: 320px) {
  body {
    text-align: center; } }

.red {
  color: red; }

.blue {
  color: blue; }

#wrapper,
#wrapper2 {
  width: 200px; }
  #wrapper .inner,
  #wrapper2 .inner {
    width: 150px; }
    #wrapper .inner p a,
    #wrapper2 .inner p a {
      color: #ff0000; }

.blue {
  color: blue; }
